<!DOCTYPE html>
<html id="bodys">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{$system.seo_keywords}">
    <meta name="description" content="{$system.seo_description}">
    <title>关于我们</title>
    <link rel="icon" type="image/png" href="__PUBLIC__/images/favicon.png">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- 必要样式 -->
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/js/news.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>

<body>
    <div class="container1">
        <!--pc头部-->
        <div class="header visible-lg-block ">
            <div class="headercenter">
                <div class="logo fl">
                    <a href="index.html"> <img alt="乾禾智能" src="__PUBLIC__/images/logo.png"></a>
                </div>
                <ul class="headnav fl">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="aboutus.html">关于我们</a></li>
                    <li>
                        <a href="product.html">产品展示</a>
                        <ul>
                            <li><a href="product.html#qhzn">乾禾智能</a></li>
                            <li><a href="product.html#qhnt">乾禾暖通</a></li>
                        </ul>
                    </li>
                    <li><a href="cases.html">案例展示</a></li>
                    <li><a href="culture.html">企业文化</a></li>
                    <li><a href="honor.html">企业荣誉</a></li>
                    <li><a href="news.html">新闻资讯</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
                <div class="tel fl">
                    <img src="__PUBLIC__/images/phone.png" class="fl">
                    <div class="telnum fl">
                        <p>资讯热线 </p>
                        <p>400-600-1366</p>
                    </div>
                </div>
            </div>
        </div>
        <!--移动端头部-->
        <nav class="navbar navbar-default visible-xs-block">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    <a class="navbarimg" href="index.html">
                        <img alt="乾禾智能" src="__PUBLIC__/images/logo.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="aboutus.html">关于我们</a></li>
                        <li><a href="product.html">产品展示</a></li>
                        <li><a href="cases.html">案例展示</a></li>
                        <li><a href="culture.html">企业文化</a></li>
                        <li><a href="honor.html">企业荣誉</a></li>
                        <li><a href="news.html">新闻资讯</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--内页banner-->
        <div class="nybanner"></div>
        <!--位置-->
        <div class="position">
            您现在的位置:关于我们
        </div>
        <!--ny标题-->
        <div class="nytitle">
            <i></i>
            <em>智能您的家</em>
            <h1>乾禾智能</h1>
            <font>杭州乾禾科技有限公司是一家专业从事家居环境智能集成系统咨询、设计、销售 安装及售后服务为一体的高科技型企业。
            </font>
        </div>
        <div class="usshow">
            <div class="row">
                <div class="col-lg-6 col-xs-12 usshowli">
                    <img src="__PUBLIC__/images/abicon1.png">
                    <div class="usshowfont fl">
                        <p>崇高目标</p>
                        <font>乾禾企业自成立以来，凭借一支诚信、高效、团结、负责、专业的团队，本着“为人们享受健康、舒适、智能化的居家生活而努力和服务”的崇高使命而不断持续创新，持续奋斗。</font>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 usshowli">
                    <img src="__PUBLIC__/images/abicon2.png">
                    <div class="usshowfont fl">
                        <p>智能家居</p>
                        <font>业务涉及智能家居咨询、智能家居产品销售、安装及相关售后服务、智能装修、整房智能控制等多个生活环境内外智能系统方面。拥有高品质、高效率、高标准、完善的售后服务体系。</font>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 usshowli">
                    <img src="__PUBLIC__/images/abicon3.png">
                    <div class="usshowfont fl">
                        <p>企业宗旨</p>
                        <font>乾禾企业将秉承“把现代智能化高科技融入百姓生活，以客户需求为导向”的企业宗旨，坚持“没有令人满意的服务就不会有满意的客户，没有满意的客户就没有企业发展前途”的原则。</font>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 usshowli">
                    <img src="__PUBLIC__/images/abicon4.png">
                    <div class="usshowfont fl">
                        <p>品质优先</p>
                        <font>乾禾科技一直将工程安装质量定位为“企业发展的第一生命力！乾禾科技一向强调“三分产品，十分安装！” 在安装施工方面严格执行，严格把关，真正做到让客户与合作方放心、省心、舒心！
                        </font>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <section id="fun-facts" class="visible-lg-block">
            <div class="container">
                <ul>
                    <li>
                        <i class="fa fa-cog"></i>
                        <p>企业精髓</p>
                        <h4>乾为天 信为君 和为家
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-certificate"></i>
                        <p>企业文化</p>
                        <h4>健康、舒适、智能化的居家生活。
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-cogs"></i>
                        <p>营销理念</p>
                        <h4>更温馨的品质生活。
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-line-chart"></i>
                        <p>企业愿景</p>
                        <h4>不断的开发和创新。
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-paper-plane-o"></i>
                        <p>服务理念</p>
                        <h4>以爱为向导，以希望 为中心。
                        </h4>
                    </li>
                    <li>
                        <i class="fa fa-hand-rock-o"></i>
                        <p>经营理念</p>
                        <h4>最具价值的产品献最尊贵的客户。
                        </h4>
                    </li>
                </ul>
            </div>
        </section>
        <!--六大核心优势-->
        <div class="nytitle">
            <i></i>
            <em>不断的调整革新，只为更优质的生活</em>
            <h1>六大核心优势</h1>
            <font>不断的自我完善，稳定、高效、快速发展，坚定不移的为提高人们生活水平而努力和服务!
            </font>
        </div>
        <!--优势列表-->
        <div class="advantage">
            <div class="col-xs-12 col-lg-6 advantageli">
                <div class="advantageicon1 fl">
                </div>
                <div class="advantagefont fl">
                    <h3>系统齐备</h3>
                    <font> 十大系统，全套、单个系统由您选择，全方位的智能服务，让您随心操控。</font>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 advantageli">
                <div class="advantageicon2 fl">
                </div>
                <div class="advantagefont fl">
                    <h3>品质保证</h3>
                    <font> 代理十几种国内外享誉盛名的品牌，让您选的放心，用得省心，品牌产品，质量保证。</font>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 advantageli">
                <div class="advantageicon3 fl">
                </div>
                <div class="advantagefont fl">
                    <h3>专业团队</h3>
                    <font>根据您的物业情况、家庭成员、生活习惯、周边环境等，提供极具个性化的设计方案。</font>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 advantageli">
                <div class="advantageicon4 fl">
                </div>
                <div class="advantagefont fl">
                    <h3>标准化服务</h3>
                    <font>施工队伍都是有着十几年行业经验，经历过多次考评审核后方可上岗。一站式服务，现场公示施工范围，随时接受您的监督。</font>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 advantageli">
                <div class="advantageicon5 fl">
                </div>
                <div class="advantagefont fl">
                    <h3>终身维护</h3>
                    <font>系统设备使用寿命期内，提供上门维修服务。24小时内上门服务，您购买多种系统，统一提供售后服务。</font>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6 advantageli">
                <div class="advantageicon6 fl">
                </div>
                <div class="advantagefont fl">
                    <h3>品质生活</h3>
                    <font> 优质产品，节能环保、使用方便，安全性高，为您带来更为惬意、轻松的品质生活。</font>
                </div>
            </div>
        </div>
        <!--底部-->
        <div class="bottom fl visible-lg-block">
            <div class="bottomup">
                <div class="bottomnav">
                    <em>关于我们</em>
                    <ul>
                        <li><a href="aboutus.html">关于我们</a></li>
                        <li><a href="culture.html">企业文化</a></li>
                        <li><a href="honor.html">企业荣誉</a></li>
                        <li><a href="news.html">新闻资讯</a></li>
                    </ul>
                </div>
                <div class="bottomnav">
                    <em>产品案例</em>
                    <ul>
                        <li><a href="product.html">产品中心</a></li>
                        <li><a href="cases.html">案例展示</a></li>
                    </ul>
                </div>
                <div class="bottomnav">
                    <em>联系我们</em>
                    <ul>
                        <li><a href="contact.html">联系方式</a></li>
                        <li><a href="contact.html">公司地址</a></li>
                        <li><a href="tencent://message/?uin=3563713402&amp;Site=有事Q我&amp;Menu=yes">在线咨询</a></li>
                    </ul>
                </div>
                <div class="bottomtel fl">
                    <ul>
                        <li class="li-tel">
                            电话<br>
                            <strong>0571-87381866	88231138</strong>
                        </li>
                        <li class="li-fox">
                            传真<br>
                            <strong>0571-85263910</strong>
                        </li>
                        <li class="li-phone">
                            全国客服热线<br>
                            <strong>400-600-1366</strong>
                        </li>
                    </ul>
                </div>
                <div class="bottomweixin fr">
                    <ul>
                        <li>
                            <img src="__PUBLIC__/images/weixin1.png">
                            <p>杭州乾禾科技有限公司</p>
                            <p>官方微信</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottomdown">
                <div class="bottomdownin">
                    <div class="fl ft-logo">
                        <p class="f12">杭州乾禾科技有限公司 版权所有 © 2017 粤ICP备12345678号-9</p>
                    </div>
                    <div class="fr ft-address">
                        <p class="f14">杭州市西湖区古墩路707号城市发展大厦901</p>
                    </div>
                </div>
            </div>
        </div>
        <!--移动端底部-->
        <div class="mbottom fl visible-xs-block">
            <div class="col-xs-4" style="border-right:2px solid #fff;"><a href="index.html">首页</a></div>
            <div class="col-xs-4" style="border-right:2px solid #fff;"><i class="fa fa-qq" aria-hidden="true"></i><a href="tencent://message/?uin=3563713402&amp;Site=有事Q我&amp;Menu=yes">在线咨询</a></div>
            <div class="col-xs-4"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:0571-85263910">客服热线</a></div>
        </div>

    </div>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(window).scroll(function () {
        // var t = document.documentElement.scrollTop || document.body.scrollTop;
        var scrollTop = $(this).scrollTop();//scrollTop() 方法返回或设置匹配元素的滚动条的垂直位置。
        if (scrollTop >= 300) {
            $('.header').addClass("header2")
        }
    });
    var culture = new Vue({
        el: "#bodys",
        data: {
            view: {},
        },
        ready: function () {
            $.ajax({

                url: "{:url('index/Contact/system')}",
                success: function (data) {
                    data = JSON.parse(data); //将字符串转换成json格式         
                    culture.view = data;//将数据赋值到view对象
                },
                error: function (data) {
                    console.log("error!");
                }
            });
        }
    })

</script>

</html>