<!DOCTYPE html>
<html id="bodys">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{$system.seo_keywords}">
    <meta name="description" content="{$system.seo_description}">
    <title>案例展示</title>
    <link rel="icon" type="image/png" href="__PUBLIC__/images/favicon.png">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- 必要样式 -->
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>

<body id="bodys">
    <div class="container1">
        <!--pc头部-->
        <div class="header visible-lg-block ">
            <div class="headercenter">
                <div class="logo fl">
                    <a href="index.html"> <img alt="乾禾智能" src="__PUBLIC__/images/logo.png"></a>
                </div>
                <ul class="headnav fl">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="aboutus.html">关于我们</a></li>
                    <li>
                        <a href="product.html">产品展示</a>
                        <ul>
                            <li><a href="product.html#qhzn">乾禾智能</a></li>
                            <li><a href="product.html#qhnt">乾禾暖通</a></li>
                        </ul>
                    </li>
                    <li><a href="cases.html">案例展示</a></li>
                    <li><a href="culture.html">企业文化</a></li>
                    <li><a href="honor.html">企业荣誉</a></li>
                    <li><a href="news.html">新闻资讯</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
                <div class="tel fl">
                    <img src="__PUBLIC__/images/phone.png" class="fl">
                    <div class="telnum fl">
                        <p>资讯热线 </p>
                        <p>400-600-1366</p>
                    </div>
                </div>
            </div>
        </div>
        <!--移动端头部-->
        <nav class="navbar navbar-default visible-xs-block">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    <a class="navbarimg" href="index.html">
                        <img alt="乾禾智能" src="__PUBLIC__/images/logo.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="aboutus.html">关于我们</a></li>
                        <li><a href="product.html">产品展示</a></li>
                        <li><a href="cases.html">案例展示</a></li>
                        <li><a href="culture.html">企业文化</a></li>
                        <li><a href="honor.html">企业荣誉</a></li>
                        <li><a href="news.html">新闻资讯</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--内页banner-->
        <div class="nybanner"></div>
        <!--位置-->
        <div class="position">
            您现在的位置:案例展示
        </div>
        <!--产品1-->
        <div class="product1">
            <div class="nytitle">
                <i></i>
                <h1>案例展示</h1>
                <label></label>
                <font>成功的案例使我们对服务更有信心
                </font>
            </div>
            <div class="nycase col-xs-12 col-lg-12">
                <div class="col-xs-12 casetitle">{{view.cases.title}}</div>
                <div class="col-xs-12 col-lg-6">
                    <span class="nycasespan">
                          <p>{{view.cases.content}}</p>
                    </span>
                    <h3>设备介绍</h3>
                    <ul>
                        <li class="col-xs-12 col-lg-6" v-for="jieshao in view.caseEquipment">{{jieshao.order}}.{{jieshao.name}}</li>
                    </ul>
                </div>
                <div class="col-xs-6 visible-lg-block">
                    <!-- 代码begin -->
                    <div class="ban" id="demo1">
                        <div class="ban2" id="ban_pic1">
                            <div class="prev1" id="prev1"><img src="__PUBLIC__/images/index_tab_l.png" width="28" height="51" alt=""></div>
                            <div class="next1" id="next1"><img src="__PUBLIC__/images/index_tab_r.png" width="28" height="51" alt=""></div>
                            <ul>
                                <li v-for="bigpic in view.casePic">
                                    <a href="javascript:;"><img src="__IMAGE__/{{bigpic.pic}}" width="500" height="500" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="min_pic">
                            <div class="prev_btn1" id="prev_btn1"><img src="__PUBLIC__/images/feel3.png" width="9" height="18" alt=""></div>
                            <div class="num clearfix" id="ban_num1">
                                <ul>
                                    <li v-for="bigpic in view.casePic">
                                        <a href="javascript:;"><img src="__IMAGE__/{{bigpic.pic}}" width="80" height="80" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="next_btn1" id="next_btn1"><img src="__PUBLIC__/images/feel4.png" width="9" height="18" alt=""></div>
                        </div>
                    </div>
                    <script src="__PUBLIC__/js/pic_tab.js"></script>
                    <script type="text/javascript">

                    </script>
                </div>
                <!--移动端案例展示-->
                <div class="col-xs-12 visible-xs-block mcasepic">
                    <template v-for="bigpic in view.casePic">
                        <div class="col-xs-6"><img src="__IMAGE__/{{bigpic.pic}}"></div>
                    </template>
                </div>
            </div>
        </div>
        <div class="prev">
            <div class="col-xs-6">
                <a href="cases.html?id={{view.caseId.prevId}}">上一案例</a>
            </div>
            <div class="col-xs-6">
                <a href="cases.html?id={{view.caseId.nextId}}">下一案例</a>
            </div>
        </div>
        <!--pro背景-->
        <div class="probg fl visible-lg-block">
            <div class="probgbox">
                <h1>乾禾智能</h1>
                <span>中国智能家居的领航者</span>
            </div>
        </div>
        <!--移动空格块-->
        <div class="mblank visible-xs-block"></div>
        <!--底部-->
        <div class="bottom fl visible-lg-block">
            <div class="bottomup">
                <div class="bottomnav">
                    <em>关于我们</em>
                    <ul>
                        <li><a href="aboutus.html">关于我们</a></li>
                        <li><a href="culture.html">企业文化</a></li>
                        <li><a href="honor.html">企业荣誉</a></li>
                        <li><a href="news.html">新闻资讯</a></li>
                    </ul>
                </div>
                <div class="bottomnav">
                    <em>产品案例</em>
                    <ul>
                        <li><a href="product.html">产品中心</a></li>
                        <li><a href="cases.html">案例展示</a></li>
                    </ul>
                </div>
                <div class="bottomnav">
                    <em>联系我们</em>
                    <ul>
                        <li><a href="contact.html">联系方式</a></li>
                        <li><a href="contact.html">公司地址</a></li>
                        <li><a href="tencent://message/?uin=3563713402&amp;Site=有事Q我&amp;Menu=yes">在线咨询</a></li>
                    </ul>
                </div>
                <div class="bottomtel fl">
                    <ul>
                        <li class="li-tel">
                            电话<br>
                            <strong>0571-87381866	88231138</strong>
                        </li>
                        <li class="li-fox">
                            传真<br>
                            <strong>0571-85263910</strong>
                        </li>
                        <li class="li-phone">
                            全国客服热线<br>
                            <strong>400-600-1366</strong>
                        </li>
                    </ul>
                </div>
                <div class="bottomweixin fr">
                    <ul>
                        <li>
                            <img src="__PUBLIC__/images/weixin1.png">
                            <p>杭州乾禾科技有限公司</p>
                            <p>官方微信</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottomdown">
                <div class="bottomdownin">
                    <div class="fl ft-logo">
                        <p class="f12">杭州乾禾科技有限公司 版权所有 © 2017 粤ICP备12345678号-9</p>
                    </div>
                    <div class="fr ft-address">
                        <p class="f14">杭州市西湖区古墩路707号城市发展大厦901</p>
                    </div>
                </div>
            </div>
        </div>
        <!--移动端底部-->
        <div class="mbottom fl visible-xs-block">
            <div class="col-xs-4" style="border-right:2px solid #fff;"><a href="index.html">首页</a></div>
            <div class="col-xs-4" style="border-right:2px solid #fff;"><i class="fa fa-qq" aria-hidden="true"></i><a href="tencent://message/?uin=3563713402&amp;Site=有事Q我&amp;Menu=yes">在线咨询</a></div>
            <div class="col-xs-4"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:0571-85263910">客服热线</a></div>
        </div>
    </div>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(window).scroll(function () {
        // var t = document.documentElement.scrollTop || document.body.scrollTop;
        var scrollTop = $(this).scrollTop();//scrollTop() 方法返回或设置匹配元素的滚动条的垂直位置。
        if (scrollTop >= 300) {
            $('.header').addClass("header2")
        }
    });
    // vuejs
    var casesshow = new Vue({
        el: "#bodys",
        data: {
            view: {},
        },
        ready: function () {
            $.ajax({
                type: "post",
                url: "{:url('index/Cases/lst')}",
                data: { id: GetQueryString("id") },
                success: function (data) {
                    data = JSON.parse(data); //将字符串转换成json格式         
                    casesshow.view = data;//将数据赋值到view对象
                    //vue的钩子函数  当DOM通过Vue生成完毕的时候 调用方法
                    Vue.nextTick(function () {
                        console.log('此时通过vue渲染的DOM 已经完成');
                        jq('#demo1').banqh({
                            box: "#demo1",//总框架
                            pic: "#ban_pic1",//大图框架
                            pnum: "#ban_num1",//小图框架
                            prev_btn: "#prev_btn1",//小图左箭头
                            next_btn: "#next_btn1",//小图右箭头
                            pop_prev: "#prev2",//弹出框左箭头
                            pop_next: "#next2",//弹出框右箭头
                            prev: "#prev1",//大图左箭头
                            next: "#next1",//大图右箭头
                            pop_div: "#demo2",//弹出框框架
                            pop_pic: "#ban_pic2",//弹出框图片框架
                            pop_xx: ".pop_up_xx",//关闭弹出框按钮
                            mhc: ".mhc",//朦灰层
                            autoplay: true,//是否自动播放
                            interTime: 5000,//图片自动切换间隔
                            delayTime: 400,//切换一张图片时间
                            pop_delayTime: 400,//弹出框切换一张图片时间
                            order: 0,//当前显示的图片（从0开始）
                            picdire: true,//大图滚动方向（true为水平方向滚动）
                            mindire: true,//小图滚动方向（true为水平方向滚动）
                            min_picnum: 5,//小图显示数量
                            pop_up: true//大图是否有弹出框
                        })
                    });
                },
                error: function (data) {
                    console.log("error!");
                }
            });
        }
    });
    // js获取url的参数
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

</script>

</html>