<!DOCTYPE html>
<html id="bodys">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{$system.seo_keywords}">
    <meta name="description" content="{$system.seo_description}">
    <title>企业荣誉</title>
    <link rel="icon" type="image/png" href="__PUBLIC__/images/favicon.png">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- 必要样式 -->
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <!--<script src="__PUBLIC__/js/index.js"></script>
    <link href="__PUBLIC__/css/htmleaf-demo.css" rel="stylesheet" type="text/css" />-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>

<body id="bodys">
    <div class="container1">
        <!--pc头部-->
        <div class="header visible-lg-block ">
            <div class="headercenter">
                <div class="logo fl">
                    <a href="index.html"> <img alt="乾禾智能" src="__PUBLIC__/images/logo.png"></a>
                </div>
                <ul class="headnav fl">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="aboutus.html">关于我们</a></li>
                    <li>
                        <a href="product.html">产品展示</a>
                        <ul>
                            <li><a href="product.html#qhzn">乾禾智能</a></li>
                            <li><a href="product.html#qhnt">乾禾暖通</a></li>
                        </ul>
                    </li>
                    <li><a href="cases.html">案例展示</a></li>
                    <li><a href="culture.html">企业文化</a></li>
                    <li><a href="honor.html">企业荣誉</a></li>
                    <li><a href="news.html">新闻资讯</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
                <div class="tel fl">
                    <img src="__PUBLIC__/images/phone.png" class="fl">
                    <div class="telnum fl">
                        <p>资讯热线 </p>
                        <p>400-600-1366</p>
                    </div>
                </div>
            </div>
        </div>
        <!--移动端头部-->
        <nav class="navbar navbar-default visible-xs-block">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    <a class="navbarimg" href="index.html">
                        <img alt="乾禾智能" src="__PUBLIC__/images/logo.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="aboutus.html">关于我们</a></li>
                        <li><a href="product.html">产品展示</a></li>
                        <li><a href="cases.html">案例展示</a></li>
                        <li><a href="culture.html">企业文化</a></li>
                        <li><a href="honor.html">企业荣誉</a></li>
                        <li><a href="news.html">新闻资讯</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--内页banner-->
        <div class="nybanner"></div>
        <!--位置-->
        <div class="position">
            您现在的位置:企业文化
        </div>
        <!--荣誉-->
        <div class="nyculture">
            <div class="nytitle">
                <i></i>
                <h1>企业文化</h1>
                <label></label>
            </div>
            <div class="culturebox col-lg-12 col-xs-12">
                <div class="col-lg-12">
                    <div class="col-lg-6 col-xs-12">
                        <p>杭州乾禾科技有限公司是一家专业从事家居环境智能集成系统咨询、设计<br> 、销售、安装及售后服务为一体的高科技型企业。 </p>
                        <p>凭借一支诚信、高效、团结、负责、专业的团队<br> 本着“为人们享受健康、舒适、智能化的居家生活而努力和服务”的 <br> 崇高使命而不断持续创新，持续奋斗。 </p>
                        <p>乾禾企业将推荐一批高素质、技术精湛、实践经验丰富的<br> 专业设计师、方案咨询师、施工及售后服务工程师为您提供 <br> 全方位、细致耐心的优质服务！
                        </p>
                    </div>
                    <div class="col-lg-2 graybox">

                    </div>
                    <div class="col-lg-4 scaleimg visible-lg-block">
                        <img src="__PUBLIC__/images/culture01.png">
                    </div>
                </div>
                <div class="col-lg-12 culturedown">
                    <div class="col-lg-5 col-xs-12">
                        <p>与此同时，<br> 乾禾企业希望通过与社会各界长期密切合作，
                            <br> 共同开拓家居智能化事业，
                            <br> 为推动科技服务社会做出我们应有的贡献！
                        </p>

                        <p>我们希望,<br> 高品质、高质量、高标准能让客户真正的放心、省心、舒心！
                        </p>
                    </div>
                    <div class="col-lg-3 scaleimg2 visible-lg-block">
                        <img src="__PUBLIC__/images/culture02.png">
                    </div>
                    <div class="col-lg-4 scaleimg3 visible-lg-block">
                        <img src="__PUBLIC__/images/culture03.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="culturebrand fl">
            <div class="culturebrandtitle visible-lg-block">
                <i></i>
                <h1>品牌定位</h1>
                <label></label>
            </div>
        </div>
        <div class="brandstory">
            <div class="brandstoryin col-xs-12">
                <div class="storytitle col-xs-12">
                    <i></i>
                    <h1>品牌故事</h1>
                    <label></label>
                    <font>随着人们生活水平的提高，乾禾企业不断开发新的系统，致力于为人们舒适、健康的生活提供方便。 同时，乾禾企业服务市场这么多年，不断调整革新，以“ 智能您的家 ”为核心。 坚定不移的为提高人们生活水平，改善生活环境而努力和服务。
                    </font>
                </div>
            </div>
            <div class="communicate">
                <h3>合作交流</h3>
                <p>时刻保持与世界领先技术的同步</p>
                <ul>
                    <li class="col-xs-6 col-lg-3" v-for="communicate in view.culture">
                        <img src="__IMAGE__/{{communicate.url}}">
                        <p>{{communicate.description}}
                        </p>
                    </li>
                    <!--<li class="col-xs-6 col-lg-3">
                        <img src="__PUBLIC__/images/communicate01.png">
                        <p>乾禾企业是唯一一家代表参加 杭州首届生活品质趋势发布会
                        </p>
                    </li>-->
                </ul>
            </div>
        </div>
        <!--移动空格块-->
        <div class="mblank visible-xs-block"></div>
        <!--底部-->
        <div class="bottom fl visible-lg-block">
            <div class="bottomup">
                <div class="bottomnav">
                    <em>关于我们</em>
                    <ul>
                        <li><a href="aboutus.html">关于我们</a></li>
                        <li><a href="culture.html">企业文化</a></li>
                        <li><a href="honor.html">企业荣誉</a></li>
                        <li><a href="news.html">新闻资讯</a></li>
                    </ul>
                </div>
                <div class="bottomnav">
                    <em>产品案例</em>
                    <ul>
                        <li><a href="product.html">产品中心</a></li>
                        <li><a href="cases.html">案例展示</a></li>
                    </ul>
                </div>
                <div class="bottomnav">
                    <em>联系我们</em>
                    <ul>
                        <li><a href="contact.html">联系方式</a></li>
                        <li><a href="contact.html">公司地址</a></li>
                        <li><a href="tencent://message/?uin=3563713402&amp;Site=有事Q我&amp;Menu=yes">在线咨询</a></li>
                    </ul>
                </div>
                <div class="bottomtel fl">
                    <ul>
                        <li class="li-tel">
                            电话<br>
                            <strong>0571-87381866	88231138</strong>
                        </li>
                        <li class="li-fox">
                            传真<br>
                            <strong>0571-85263910</strong>
                        </li>
                        <li class="li-phone">
                            全国客服热线<br>
                            <strong>400-600-1366</strong>
                        </li>
                    </ul>
                </div>
                <div class="bottomweixin fr">
                    <ul>
                        <li>
                            <img src="__PUBLIC__/images/weixin1.png">
                            <p>杭州乾禾科技有限公司</p>
                            <p>官方微信</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottomdown">
                <div class="bottomdownin">
                    <div class="fl ft-logo">
                        <p class="f12">杭州乾禾科技有限公司 版权所有 © 2017 粤ICP备12345678号-9</p>
                    </div>
                    <div class="fr ft-address">
                        <p class="f14">杭州市西湖区古墩路707号城市发展大厦901</p>
                    </div>
                </div>
            </div>
        </div>
        <!--移动端底部-->
        <div class="mbottom fl visible-xs-block">
            <div class="col-xs-4" style="border-right:2px solid #fff;"><a href="index.html">首页</a></div>
            <div class="col-xs-4" style="border-right:2px solid #fff;"><i class="fa fa-qq" aria-hidden="true"></i><a href="tencent://message/?uin=3563713402&amp;Site=有事Q我&amp;Menu=yes">在线咨询</a></div>
            <div class="col-xs-4"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:0571-85263910">客服热线</a></div>
        </div>
    </div>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(window).scroll(function () {
        // var t = document.documentElement.scrollTop || document.body.scrollTop;
        var scrollTop = $(this).scrollTop();//scrollTop() 方法返回或设置匹配元素的滚动条的垂直位置。
        if (scrollTop >= 300) {
            $('.header').addClass("header2")
        }
    });
    var culture = new Vue({
        el: "#bodys",
        data: {
            view: {},
        },
        ready: function () {
            $.ajax({

                url: "{:url('index/Culture/culture')}",
                success: function (data) {
                    data = JSON.parse(data); //将字符串转换成json格式         
                    culture.view = data;//将数据赋值到view对象
                },
                error: function (data) {
                    console.log("error!");
                }
            });
        }
    })

</script>

</html>